.tab-pane {
    -fx-background-color: white;
}

.tab {
    -fx-background-color: #e3e3e3;
    -fx-padding: 8px 12px;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.tab:hover {
    -fx-background-color: #e3f2fd;
}

.tab:selected {
    -fx-background-color: #1e90ff;
    /*-fx-border-color: #004a99;*/
    /*-fx-border-width: 0 0 3px 0;*/
}

.tab .tab-label {
    -fx-text-fill: #005cb5; /* Default text color for unselected tabs */
}

.tab:selected .tab-label {
    -fx-text-fill: white; /* Text color for selected tab */
}

.tab-header-background {
    -fx-background-color: #ffffff;
}
