.tab-pane {
    -fx-background-color: white;
}

.tab {
    -fx-background-color: #9ed4ff;
    -fx-padding: 8px 12px;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: black; /* Default text color */
}

.tab:hover {
    -fx-background-color: #e3f2fd;
}

.tab:selected {
    -fx-background-color: #1e90ff;
    -fx-border-color: #004a99;
    -fx-border-width: 0 0 3px 0;
    -fx-text-fill: white; /* White text for the selected tab */
}

.tab-header-background {
    -fx-background-color: #0056b3;
}
